<div class="chat-page-container">
    <div class="chat-titlebar">
        <label for="userSearchTextbox"> To: </label>
        <div id="selectedUsers">
            <input type="text" placeholder="Type the name of the person" name="" id="userSearchTextbox">
        </div>
    </div>
    <div class="result-container">
        
    </div>
    <button id="createChatButton" disabled> Create Chat </button>
</div>